<p id="notice"><%= notice %></p>


<div class="row">

<% @pigeons.in_groups_of(3, false).each do |group| %>
  <div class='row'>

    <% group.each do |pigeon| %>
    
    <div class='col-md-4'>

        <div class="thumbnail">

               <div class="caption">

        <h3 ><%= pigeon.name %> </h3>
         <p >Matricola:<%= pigeon.matr %> </p>
         <p >Anno:<%= pigeon.year %> </p>
         <p >Sesso:<%= pigeon.sex %> </p>

       

<%= link_to pigeon_path(pigeon) do %>
<%= image_tag pigeon.image.url(:thumb), class: "img-responsive" %>
<% end %>




         

                </div> <!-- end caption-->
           
    </div><!-- end thumbail-->

  </div> <!-- end col-md-4 -->
      
    <% end %>

</div> <!-- end row -->
<% end %>