<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src=<%= asset_path "pigeons.jpg" %> style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title">Portopalo Race Pigeon's Club</h1>
         
        </div>
      </div>
    </div>
    <div class="item">
      <img src=<%= asset_path "pigeons1.jpg" %> style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="title">Passion for Pigeons...</h1>
          
        </div>
      </div>
    </div>
  
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src=<%= asset_path "tesori.jpg" %>>
  <a href=<%= %>><h2 class="featurette-heading"> <span class="text-primary">I miei tesori</span></h2></a>
    <p class="lead">Dai uno sguardo alle mie colombe, I miei campioni </p>
    
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src=<%= asset_path "consigli1.jpg" %>>
    <a href="<%= %>"><h2 class="featurette-heading"> <span class="text-warning">Consigli per avere piccioni in piena forma</span></h2></a>
    <p class="lead">Alcuni consigli per avere delle colombe in piena forma</p>



    
  </div>

  <hr class="featurette-divider">





  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
  
  </footer>

</div><!-- /.container -->