

<%= simple_form_for(@product, html:{class: "form-signin"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title,required: false,label:false,placeholder:"titolo del prodotto", class:"form-control" %>


    <%= f.input :description,required: false,label:false,placeholder:"descrizione del prodotto", class:"form-control" %>
    <%= f.input :price,required: false,label:false,placeholder:"prezzo", class:"form-control" %>

    <%= f.input :image %>
  



    <%=f.button :submit, "Crea", class:"btn btn-primary"  %>

<% end %>
