<!DOCTYPE html>
<html>
<head>
  <title>Lucapigeons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/navbar"%>
<div class="container" >
	<h2>admin</h2>
<%= yield %>
</div>

</body>
</html>
